html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    margin: 0;
    font-style: monospace;
    color: #FFFFFF;
    background-color: #222222;
    text-align: center;
}
h2{
    font-size: 18px;
}
    #one{
        margin-top: 50px;
    }
    #two, #three, #four{
        text-align: left;
        margin-left: 25%;
        padding-right: 25%;
    }
        #two a, #three a, #four a{
            color: aqua;
        }
        #two a:hover, #three a:hover, #four a:hover{
            color: lightcoral;
        }
        
        table {
            border-collapse: collapse;
            width: 100%;
            }
            td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            }
            tr:nth-child(even) {
            background-color: #312f2f;
            }

            .mnpub{
                display: none;
            }
            .dnpub{
                display: block;
            }
    .footeroverview{
        background: #151515;
        padding: 2.2vh 0 2.2vh 0;
        }
        .listoverview{
            list-style-type: none;
            margin: 0%;
            padding-left: 0%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
            .listoverview li{
                padding-top: 1%;
                padding-right: 25px;
                padding-left: 25px;
            }
                .listoverview li img{
                    width: 45px;
                    height: 45px;    
                }
                .listoverview li a:hover{
                    opacity: 0.5;
                }
    .footercontact{
        background: #1B1B1B;
    }
        .listcontact{
            list-style-type: none;
            margin: 0%;
            padding-left: 0%;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
            .listcontact li{
                margin: 0%;
                padding: 0%;
                padding-right: 25px;
                padding-left: 25px;
                color: rgb(70, 206, 240);
            }
                .listcontact li a{
                    color: #FFFFFF;
                    text-decoration: none;                    
                }
                    .listcontact li a:hover{
                        color: rgb(70, 206, 240);
                    }

@media (max-width:1000px) {
    h3{
        font-size: 40px;
    }
    h2{
        font-size: 35px;
    }
    #two, #three, #four{
        margin-left: 10%;
        padding-right: 10%;
    }
        .listoverview li img{
            width: 80px;
            height: 80px;    
        }
    section{
        margin-bottom: 50px;
    }
    .dnpub{
        display: none;
    }
    .mnpub{
        display: block;
    }
    .footercontact{
        font-size: 40px;
    }
}
